* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #234;
  color: #fff;
  font-size: 0;
  font-weight: 300;
  cursor: default;
}

.app {
  padding: 0 30px;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}

#personal-site-link {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 14px;
  font-weight: 400;
}
#personal-site-link a {
  color: $blue;
  text-decoration: none;
}

.app-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
