.log-calendar {
  display: none;
  &.log-calendar-open {
    display: block;
  }
  .dismissable-overlay {
    z-index: 10;
  }
}

.log-calendar-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: ($calendar-date-size * $calendar-weekday-count) + ($calendar-padding-x * 2);
  margin-bottom: ($panel-arrow-size * 1.5);
  padding: $calendar-padding-y $calendar-padding-x;
  background-color: #fff;
  user-select: none;
  color: #000;
  box-shadow: $panel-shadow;
  .log-calendar-open & {
    z-index: 100;
  }
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -$panel-arrow-size;
    left: ($date-control-width * 1.5) - $panel-arrow-size;
    width: 0;
    height: 0;
    border: solid $panel-arrow-size transparent;
    border-top-color: #fff;
    border-bottom-width: 0;
  }
}

.log-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.log-calendar-current-month-name {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.log-calendar-month-control {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  $icon-size: 24px;
  width: $icon-size;
  height: $icon-size;
  border-width: 0;
  padding: 0;
  background: none;
  &:hover:active {
    color: $blue;
  }
  &:focus {
    outline-width: 0;
  }
  svg {
    width: inherit;
    height: inherit;
  }
}

.log-calendar-weekday-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $calendar-date-size;
  height: $calendar-date-size;
  font-weight: 700;
  font-size: $calendar-date-font-size;
  color: #999;
}

.log-calendar-date {
  display: inline-block;
  .log-calendar-date-label {
    pointer-events: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $calendar-date-size;
    height: $calendar-date-size;
    border-radius: 50%;
    font-size: $calendar-date-font-size;
    color: #999;
  }
  &.is-current-month .log-calendar-date-label {
    color: #000;
    font-weight: 400;
  }
  &.is-selected .log-calendar-date-label {
    background-color: rgba($blue, 0.6);
    color: #fff;
  }
  &.is-current-month.is-selected .log-calendar-date-label {
    background-color: $blue;
  }
  &.is-today .log-calendar-date-label {
    font-weight: 700;
  }
}
