@use 'sass:math';

.log-date-area {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  margin-top: 6px;
  margin-bottom: 10px;
}

.log-selected-date {
  margin-left: 10px;
  text-align: left;
}
.log-selected-date-absolute {
  font-size: 16px;
}
.log-selected-date-relative {
  font-size: 12px;
  line-height: 1;
}

.log-date-calendar-control.active {
  position: relative;
  // Position date controls above calendar overlay
  z-index: 100;
}

.log-date-control {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  width: $date-control-width;
  height: 100%;
  border-width: 0;
  padding: 0;
  background-color: rgba(#000, math.div(2, 3));
  color: #fff;
  cursor: pointer;
  &:hover:active,
  &.active {
    color: $blue;
  }
  &:focus {
    outline-width: 0;
  }
}
.log-date-control svg {
  width: inherit;
  height: inherit;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  text {
    fill: currentColor;
    stroke: none;
    font-size: 8px;
  }
}
