.ql-container.ql-snow {
  width: 380px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  color: #fff;
  resize: none;
}
.ql-editor:focus {
  outline-width: 0;
  border-color: $blue;
  box-shadow: 0 0 0 1px $blue;
}
.ql-editor::-webkit-input-placeholder {
  color: rgba($light-gray, 0.5);
  font-weight: 300;
}


.ql-snow .ql-fill,
.ql-snow .ql-stroke {
  stroke: currentColor;
}

.ql-toolbar.ql-snow {
  background-color: rgba(0, 0, 0, 0.75);
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border-color: rgba($light-gray, 0.5);
}

.ql-snow.ql-toolbar button {
  color: #fff;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus {
  outline-width: 0;
  color: #fff;
  filter: drop-shadow(0 0 2px #fff);
}
.ql-snow.ql-toolbar button.ql-active {
  color: $blue;
}
.ql-snow.ql-toolbar button .ql-fill {
  fill: currentColor !important;
}
.ql-snow.ql-toolbar button .ql-stroke {
  stroke: currentColor !important;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 0;
}

.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 2em;
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 4em;
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 8em;
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 10em;
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 14em;
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 16em;
}
.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 18em;
}

.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
}
