.log-editor-autocomplete {
  display: none;
  position: absolute;
  min-width: 100px;
  margin-left: 1px;
  font-size: 16px;
  color: rgba(#fff, 0.5);
  &.is-visible {
    display: block;
    pointer-events: none;
  }
}
