.app-preferences {
  display: none;
  &.app-preferences-open {
    display: block;
  }
  .dismissable-overlay {
    display: none;
    z-index: 10;
  }
  &.app-preferences-open .dismissable-overlay {
    display: block;
  }
}

.app-preferences-panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 500px;
  padding: 40px;
  background-color: #fff;
  font-weight: 400;
  color: #000;
  box-shadow: $panel-shadow;
  .app-preferences-open & {
    display: block;
  }
}

.app-preference-heading {
  margin-top: 0;
  font-weight: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.app-preference-label {
  display: block;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 16px;
}

.app-preference-description {
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
  color: rgba(#000, 0.75);
}

.app-preference-option {
  margin: 8px 0;
}

.app-preference-option-label {
  padding-left: 4px;
  font-size: 14px;
}
