.log-summary {
  flex-grow: 1;
  padding: 0 20px;
  font-size: 20px;
}
.log-label {
  display: inline-block;
  vertical-align: middle;
}
.log-value {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
}
.log-category-descriptions {
  margin-top: 0.5em;
  padding-left: 1.5em;
  font-size: 16px;
  list-style-type: none;
}
.log-category-character-count {
  margin-left: 0.3em;
  font-size: 12px;
  vertical-align: middle;
}

.log-summary-overview {
  border-bottom: solid 2px #fff;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
}
.log-total {
  font-size: 28px;
}
.log-stats {
  display: table;
}
.log-stats > div {
  display: table-row;
  font-size: 16px;
}
.log-stats .log-label {
  text-align: right;
  padding-right: 5px;
}
.log-stats .log-label,
.log-times {
  display: table-cell;
  vertical-align: top;
}
.log-stats .log-label {
  padding-top: 1px;
}
.log-value-category {
  vertical-align: middle;
}

.log-latest-time {
  float: right;
  text-align: right;
  font-size: 16px;
  .log-label,
  .log-latest-time-time {
    display: block;
  }
}
