.update-notification {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  &.update-available {
    pointer-events: auto;
  }
}

.update-notification-bubble {
  visibility: hidden;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: $blue;
  transform: translateX(100%);
  transition: transform 400ms ease-in-out;
  text-align: left;
  color: #fff;
  cursor: pointer;
  user-select: none;
  .update-available & {
    visibility: visible;
    transform: translateX(0);
  }
}

.update-notification-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
.update-notification-subtitle {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
