// Colors

$blue: #5ae;
$dark-gray: #1c334c;
$light-gray: desaturate(lighten($dark-gray, 25%), 20%);

// Calendar
$calendar-date-size: 25px;
$calendar-date-font-size: 12px;
$calendar-weekday-count: 7;
$calendar-padding-x: 12px;
$calendar-padding-y: 8px;
$calendar-panel-arrow-size: 6px;

// Dates
$date-control-width: 30px;

// Floating panels
$panel-arrow-size: 6px;
$panel-shadow: 0 1px 3px #000;
