// Responsive widths (mobile-first)
$app-hybrid-max-width: 768px;

// Corner radius on various app elements
$app-border-radius: 5px;

// Colors

$blue: #5ae;
$red: #c33;
$gray: #bcd;

// Color Themes

$color-themes: (
  'blue': #113355,
  'green': #115533,
  'purple': #333355,
  'rose': #553344,
  'slate': #1c2127
);

// Calendar
$calendar-date-size: 25px;
$calendar-date-font-size: 12px;
$calendar-weekday-count: 7;
$calendar-padding-x: 12px;
$calendar-padding-y: 8px;
$calendar-panel-arrow-size: 6px;

// Dates
$date-control-width: 30px;

// Floating panels
$panel-arrow-size: 6px;
$panel-shadow: 0 1px 3px #000;

// Color swatches
$color-swatch-swatch-size: 24px;
$color-swatch-swatch-dot-size: 8px;
