@use 'variables' as *;

.color-swatch-swatch {
  display: inline-block;
  position: relative;
  width: var(--color-swatch-swatch-size);
  height: var(--color-swatch-swatch-size);
  border-radius: 50%;
  background-color: var(--color-swatch-swatch-color);
  filter: brightness(1.75);
}
.app-preference-option-selected .color-swatch-swatch-dot {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--color-swatch-swatch-dot-size);
  height: var(--color-swatch-swatch-dot-size);
  background-color: #fff;
  border-radius: 50%;
}
