.log-editor-autocomplete-placeholder {
  display: none;
  position: absolute;
  font-size: $editor-font-size;
  // Preserve leading whitespace in completion placeholder
  white-space: pre;
  color: rgba(#fff, 0.5);
  &.is-visible {
    display: block;
    pointer-events: none;
  }
}
