// Allow autocompleted text to be specified on any element within the editor by
// populating a data-* attribute on that element
.ql-editor *:after {
  content: attr(data-autocomplete);
  font-size: var(--editor-font-size);
  // Preserve leading whitespace in completion placeholder
  color: rgba(#fff, 0.5);
}
