@use 'variables' as *;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
  svg {
    --icon-size: 100px;
    width: var(--icon-size);
    height: var(--icon-size);
    animation: spin 1000ms linear infinite;
  }
}
