.radio-button {
  display: inline-block;
  vertical-align: middle;
}
.radio-button-input {
  visibility: hidden;
  position: absolute;
}
.radio-button-icon {
  display: inline-block;
  position: relative;
  --icon-size: 16px;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--color-gray);
  border-radius: 50%;
  .radio-button-input:hover:active + &,
  .radio-button-input:focus + & {
    background-color: color-mix(in srgb, #000 10%, var(--color-gray));
  }
  .radio-button-input:checked + & {
    background-color: var(--color-blue);
  }
  .radio-button-input:checked:hover:active + &,
  .radio-button-input:checked:focus + & {
    background-color: color-mix(in srgb, #000 10%, var(--color-blue));
  }
}

.radio-button-icon-dot {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  --dot-size: 6px;
  width: var(--dot-size);
  height: var(--dot-size);
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  .radio-button-input:checked + .radio-button-icon > & {
    display: inline-block;
  }
}
