@use 'variables' as *;

.update-notification {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.update-notification-bubble {
  margin: 8px;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: var(--color-blue);
  animation: slide-from-right 400ms ease-in-out forwards;
  text-align: left;
  color: #fff;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 3px rgba(#000, 0.5);
}

.update-notification-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
.update-notification-subtitle {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.update-notification-loading {
  stroke: var(--color-blue);
  animation: fade-in 250ms ease-in-out forwards;
  svg {
    --icon-size: 12px;
    stroke: #fff;
    stroke-width: 4;
  }
}
